**

!deploy-riscv64/
!deploy-riscv64/docker/
!deploy-riscv64/docker/Dockerfile
!deploy-riscv64/docker/docker-entrypoint.sh

!deploy-riscv64/rootfs/
!deploy-riscv64/rootfs/bin/
!deploy-riscv64/rootfs/bin/milvus
!deploy-riscv64/rootfs/configs/
!deploy-riscv64/rootfs/configs/**
!deploy-riscv64/rootfs/lib/
!deploy-riscv64/rootfs/lib/**

*.log
*.bak
*.bak.*
*.tmp
